[mysqld]
character_set_server = utf8mb4
collation_server = utf8mb4_bin

default_time_zone = SYSTEM
log_timestamps = SYSTEM

log_error = /var/log/mysql/mysql_error.log

general_log = 1
general_log_file = /var/log/mysql/mysql_query.log

slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql_slow.log
long_query_time = 5.0
log_queries_not_using_indexes = 0

[mysql]
default_character_set = utf8mb4

[client]
default_character_set = utf8mb4
